%h1.cover-heading Share your musical tastes.
%p.lead
  This REY app lets you share your most listened musical styles within the
  = succeed "." do
    %a{:href => "http://reputation.network", :target => "_blank"} Reputation Network
%p
  %a.btn.btn-lg.btn-secondary{ href: '/login' } Connect Spotify

