:javascript
  var clientId      = '#{ENV['SPOTIFY_CLIENT_ID']}';
  var scopes        = ['user-top-read'];
  var redirectURI   = '#{request.env['rack.url_scheme']}://#{request.env['HTTP_HOST']}/callback';
  document.location = 'https://accounts.spotify.com/authorize?response_type=code' +
                      '&client_id=' + clientId +
                      (scopes ? '&scope=' + encodeURIComponent(scopes) : '') +
                      '&redirect_uri=' + encodeURIComponent(redirectURI);
