%h1.cover-heading Almost done!
%p.lead We got your Spotify account. To finish, you need to sign it using <a href='http://metamask.io'>MetaMask</a>.

%form{ action: '/sign', method: :post}
  %p
    %input#code.form-control{ type: :text, name: :code, value: params[:code], disabled: true }
%p
  %button.btn.btn-lg.btn-secondary Sign and submit

:javascript
  function toHex(str) {
    return str.split("")
      .map((c) => c.charCodeAt(0).toString(16))
      .join("");
  }

  function requestUserSignString(str) {
    return new Promise((resolve, reject) => {
      const web3 = window.web3;
      if (!web3 || !web3.currentProvider || !web3.currentProvider.isMetaMask) {
        reject(new Error("MetaMask doesn't seem to be installed"));
      }
      const strHex = `0x${toHex(str)}`;
      if (!web3.eth.defaultAccount) {
        reject(new Error('Please log in to MetaMask'));
      } else {
        web3.personal.sign(strHex, web3.eth.defaultAccount, (err, signature) =>
          err ? reject(err) : resolve(signature));
      }
    });
  }

  document.querySelector('button').addEventListener('click', () => {
    (async () => {
      try {
        var code = document.getElementById('code').value;
        var signature = await requestUserSignString(code);
        var opts = { method: 'POST', headers: {} };
        await fetch('/sign?code=' + code + '&signature=' + signature, opts);
        window.location.href = '/done';
      } catch(e) {
        alert(e);
      }
    })();
  })
